*, *:before, *:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

html {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
}

body {
	font-family: Roboto, sans-serif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #444;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	background: #fff;
	overflow: hidden;
	/* border-radius: 15px;
	border: 1px solid #ccc; */
}

/* icons */
.icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
}

.icon.icon-star { background: url('../icons/star.svg'); }
.icon.icon-computer { background: transparent url('../icons/computer.svg'); }
.icon.icon-download { background: transparent url('../icons/download.svg'); }
.icon.icon-folder { background: transparent url('../icons/folder.svg'); }
.icon.icon-house { background: transparent url('../icons/house.svg'); }
.icon.icon-trash { background: transparent url('../icons/trash.svg'); }
.icon.icon-plus { background: transparent url('../icons/plus.svg'); }

#sidebar {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
	height: 100%;
	background: #F7F8FC;
	padding-top: 80px;
	border-right: 1px solid #eee;
}

#sidebar .group {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	width: 100%;
}

#sidebar .group span {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 5px;
}

#sidebar .group a {
	position: relative;
	text-decoration: none;
	color: #1F2E42;
	font-weight: 600;
	line-height: 40px;
	font-size: 15px;
	margin-bottom: 7px;
	padding-left: 50px;
}

#sidebar .group a.active {
	color: #00C4FF;
}

#sidebar .group a.active:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 38px;
	width: 4px;
	background: #00C4FF;
}

#content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	padding: 40px;
	width: calc(100% - 300px);
}

#content header {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	width: 100%;
}

#content header button {
	outline: none;
	background: transparent url('../images/left-arrow.svg') no-repeat;
	background-size: 30px 30px;
	background-position: center;
	width: 50px;
	height: 50px;
	padding: 0;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	transition: all .5s;
}

#content header button:hover {
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
	color: #fff;
	transition: all .5s;
}

#content h1 {
	font-size: 40px;
	margin: 0 0 0 30px;
}

#content #breadcrumb {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.2px;
	margin-bottom: 30px;
	background: transparent;
	display: flex;
	width: 100%;
	align-items: center;
	padding: 0;
}

#content #breadcrumb a {
	position: relative;
	padding-right: 25px;
	margin-right: 10px;
	cursor: pointer;
	background: transparent;
	transition: all .5s;
}

#content #breadcrumb a:hover {
	background: #00C4FF;
	transition: all .5s;
}

#content #breadcrumb a:after {
	content: "";
	position: absolute;
	background: url('../images/right-arrow.svg') no-repeat;
	right: 0;
	top: 1px;
	width: 15px;
	height: 15px;
}

#content #breadcrumb a:last-child::after {
	display: none;
}

#content #root {
	width: 100%;
}

#content #root a {
	position: relative;
	width: 100%;
	max-width: 200px;
	display: inline-flex;
	background: #fff;
	border-radius: 10px;
	min-height: 60px;
	align-items: center;
	justify-content: flex-start;
	padding-left: 25px;
	text-decoration: none;
	color: #444;
	margin-bottom: 40px;
	margin-right: 40px;
	box-shadow: 0 8px 15px 3px rgba(134, 134, 134, 0.07);
	overflow: hidden;
	transition: all .5s;
}

#content #root a span {
	z-index: 2;
}

#content #root a:hover {
	box-shadow: 0 8px 15px 5px rgba(134, 134, 134, 0.2);
	color: #fff;
	transition: all .5s;
}

#content #root a:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #00C4FF;
	height: 100%;
	width: 4px;
	z-index: 1;
	transition: all .5s;
}

#content #root a[dir]:after {
	background: #FFC067;
}

#content #root a:hover::after {
	right: 0;
	width: 100%;
	transition: all .5s;
}

#content #files .file[format=png]:before,
#content #files .file[format=jpg]:before,
#content #files .file[format=jpeg]:before {
	content: "";
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	width: 100%;
	height: 100%;
}

#add {
	position: absolute;
	right: -30px;
	top: 37px;
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	background: #00C4FF;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
	transition: all .5s;
}

#add:hover {
	box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
	transition: all .5s;
}

#add .icon {
	width: 20px;
	height: 20px;
	margin: 0;
	filter: brightness(0) invert(1);
}